body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 350px;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 0.2em;

}


h3 {
  margin-top: 0.2em;
  color: #4d4d4d
}

.content {
  width: 100%;
  padding: 0 10px;
  flex: 1;
  overflow: hidden;
}

.results {
  overflow: scroll;
  height: calc(100% - 50px);
}
.result {
  width: 100%;
  padding: 0;
  word-break: break-word;
  margin-bottom: 10px;
  text-align: center;
  border-top: 1px solid #e9e9e9
}
.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: 0 10px;
  padding-top: 10px;
  width: 360px;
  max-width: 100%;
  background-color: white;
}
.footer button {
  flex: 1;
  margin: 0;
  padding: 30px 0px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}
input[type='number'] {
  width: 70px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media (min-width: 600px) {
  .buttons {
    flex-direction: row;
    justify-content: space-between;
  }
  button {
    flex: 1;
    margin: 0 5px;
  }
  button:first-child {
    margin-left: 0;
  }
  button:last-child {
    margin-right: 0;
  }
}
