body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  --font-color: #f3e9dc;
  --background-color: #c08552;
  --font-color: #4b56f6;
  --background-color: #ccf5ec;
  --font-color: #6F07E8;
  --background-color: #DCFDC8;
  --button-font-color: var(--background-color);
  --button-background-color: var(--font-color);
  --light-font-color: color-mix(
    in srgb,
    var(--background-color) 30%,
    var(--font-color)
  );
  --light-background-color: color-mix(in srgb, black 10%, var(--background-color));
  background-color: var(--light-background-color);
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

h1 {
  text-align: center;
  margin: 8px 0;
}

h2 {
  margin-bottom: 0.2em ;
}

h3 {
  margin: 0.2em 0;
  color: var(--light-font-color);
}

.content {
  padding: 0 10px;
  flex: 1;
  overflow: hidden;
}

.results {
  overflow: scroll;
  height: 100%;
  position: relative;
}

.result {
  padding: 0;
  word-break: break-word;
  margin-bottom: 10px;
  text-align: center;
  border-top: 1px solid var(--light-font-color);
}

.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding-top: 20px;
}

.footer button {
  flex: 1;
  margin: 0;
  padding: 25px 0px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
}

button:hover {
  background-color: color-mix(
    in srgb,
    white 10%,
    var(--button-background-color)
  );
}

input[type='number'] {
  width: 70px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.help {
  display: none;
}

:hover > .help,
:active > .help {
  display: block;
  box-sizing: border-box;
  position: fixed;
  top: 10px;
  left: calc(50% - 175px);
  width: 350px;
  padding: 10px;
  background-color:  var(--light-background-color);
}

@media (min-width: 600px) {
}
